<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/style.css" />
	<title>Oh, the shame!</title>
	<meta property="og:title" value="Oh, the shame!" />
	<meta property="og:description" value="Shame! [bell] Shame! [bell] Shame! [bell]" />
	<meta property="og:image" value="imgs/shame.gif" />
	
	<script async defer src="https://buttons.github.io/buttons.js"></script>
</head>
<body>
	<main>
		<p><img src="imgs/shame.gif" /></p>
		<p>REST API documentation:</p>
		
		<pre>
		GET /api/
		GET /api/contacts
		GET /api/contact/{contactId}
		POST /api/contacts (user,email)
		</pre>
		
		<p>
		<a class="github-button" href="https://github.com/drmad/shame" data-icon="octicon-star" aria-label="Star drmad/shame on GitHub">Star</a>
		<a class="github-button" href="https://github.com/drmad" aria-label="Follow @drmad on GitHub">Follow @drmad</a>
		</p>		
	</main>
	
</body>
</html>